<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://i.makeagif.com/media/3-19-2023/t-_rHM.gif");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>
    
    <form method="post">

    <div>
        
        <p>
            <label style="color: beige;">Enter item name:</label>
            <input  required type="text" placeholder="Enter a item name" name="name">
        </p>
        <p></p>
            <label style="color: beige;">Enter item price:</label>
            <input required type="text" placeholder="Enter a item price" name="price">
        </p>
        
        <button style="margin-left: 8%;">Sumbit</button>
    </div>
</form>
</body>

</html>